.app-parent {
   background-color: teal;
   height: 100vh;
   padding: 40px;
}
.welcome-body {
   display: flex;
   height: 100%;
   width: 100%;
   background-color: rgba(156, 156, 156, 0.13);
   border-radius: 20px;
}
.navbar-parent {
   width: 4%;
   border-radius: 20px;
   background-color: aqua;
}
.body-parent {
   width: 96%;
}
.heading {
   padding: 10px;
   padding-top: 0;
   margin-bottom: 10px;
   display: flex;
   justify-content: center;
}
.project-body {
   display: flex;
}
