.app-parent {
   background-image: linear-gradient(
      to bottom right,
      rgb(187, 243, 238),
      rgb(221, 221, 221),
      rgb(203, 157, 212)
   );
   height: 100vh;
   padding: 40px;
}
.welcome-body {
   display: flex;
   height: 100%;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.342);
   border-radius: 25px;
}
.navbar-parent {
   width: 6%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.356);
   border-radius: 15px;
}
.body-parent {
   width: 94%;
}
.heading {
   padding: 10px;
   padding-top: 0;
   margin-bottom: 10px;
   display: flex;
   justify-content: center;
}
.welcome-card-body {
   display: flex;
   height: 84%;
   width: 100%;
}
.app-top-navbar {
   margin-bottom: 16px;
   height: 10%;
}

.reminder {
   width: 18%;
   background-color: rgba(148, 173, 221, 0.418);
   height: 100%;
   margin-left: 2%;
}
.welcome-and-message-parent {
   width: 33%;
   height: 100%;
   margin-left: 2%;
}
.project-and-expense {
   width: 40%;
   height: 100%;
   margin-left: 2%;
}
.welcomeCard {
   background-color: rgba(167, 197, 253, 0.418);
   height: 32%;
   margin-bottom: 4%;
}

.messagesCard {
   background-color: rgba(68, 105, 173, 0.418);
   height: 65%;
}

.projectsCard {
   background-color: rgba(52, 79, 129, 0.418);
   height: 48%;
   margin-bottom: 4%;
}

.expensesCard {
   background-color: rgba(167, 197, 253, 0.418);
   height: 48%;
}

.main-sub-heading {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 5vh;
}
