.app-parent {
   background-color: teal;
   min-height: 100vh;
   padding: 40px;
   display: flex;
}
.navbar-parent {
   width: 4%;
   margin: 10px;
}
.body-parent {
   margin: 10px;
   width: 96%;
}
.heading {
   padding: 10px;
   padding-top: 0;
   margin-bottom: 10px;
   display: flex;
   justify-content: center;
}
.project-body {
   display: flex;
}
