.expense-body {
   display: flex;
}
.write {
   display: flex;
}

.expense-body {
   height: 82%;
}

.summary-and-add {
   height: 100%;
   margin-left: 3%;
   width: 60%;
}

.summary-container {
   background-color: rgba(184, 236, 245, 0.171);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(255, 255, 255, 0.19);
   border-radius: 25px;
   height: 25%;
   border-radius: 25px;
}

.upcomingTran-container {
   background-color: rgba(225, 155, 243, 0.253);
   height: 100%;
   margin-left: 3%;
   width: 40%;
   border-radius: 25px;
}

.write {
   height: 69%;
   margin-top: 4%;
}

.add-transaction-container {
   background-color: rgba(184, 236, 245, 0.171);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(255, 255, 255, 0.19);
   border-radius: 25px;
   height: 100%;
   width: 65%;
   border-radius: 25px;
}

.upcomingTran-container {
   background-color: rgba(184, 236, 245, 0.171);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(255, 255, 255, 0.19);
   border-radius: 25px;
}

.recent-container {
   background-color: rgba(184, 236, 245, 0.171);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(255, 255, 255, 0.19);
   border-radius: 25px;
   width: 32%;
   margin-left: 3%;
}

.upcoming-dues {
   height: 55%;
}
.radio-buttons {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 8px;
}
